*{
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*Head of the page */
.start{
    padding: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: plum;
    word-spacing: 2px;
}

/*Section one*/
.one{
    padding: 70px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: seagreen;
    word-spacing: 4px;
    color:antiquewhite;
}
/*Section two*/
.two{
    display: flex;
    background-color: lightgray;
    position: sticky;
    top: 0;
}

.two a {
    color: black;
    padding: 15px 20px;
    text-align: center;
}

.two a:hover{
    background-color: #333;
    color: antiquewhite;
}

/*Section three*/
.parent{
   display: flex;
}

#first_child{
    background-color: azure;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#second_child{
    background-color: antiquewhite;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title_image{
    background-color: tan;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.side_image{
    background-color: tan;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.animation{
    background-color: red;
    color: white;
    width: 180px;
    height: 35px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    animation-name: square;
    animation-direction: normal;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

@keyframes square {
    0% {
        background-color: red; left: 0px; top: 00px;
    }
    25% {
        background-color: yellow; left: 200px; top: 0px;
    }
    50% {
        background-color: orange; left: 200px; top: 50px;
    }
    75% {
        background-color: rgb(216, 76, 11); left: 0px; top: 50px;
    }
    100%{
        background-color: red; left: 0px; top: 0px;
    }
}

/*Section Fourth*/
.last{
    padding: 25px;
    background-color: seagreen;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
}